'.source.pvs':
  'editor':
    'commentStart': '% '
    'foldEndPattern': '^\\s*(\\}|\\]|\\)|END)'
    'increaseIndentPattern': '(?x)
        \\{ [^}"\']* $
      | \\[ [^\\]"\']* $
      | \\( [^)"\']* $
      '
    'decreaseIndentPattern': '(?x)
        ^ \\s* (\\s* /[*] .* [*]/ \\s*)* [}\\])]
      '
